/* Code for the title */
h2{
		color: purple;
		font-size: 20px;
		text-align: center;
	
}

/* Code for input box */

#input-text{
	font-size: 20px;

}


/* Code for button */

#addButton{
	font-size: 30px;
}


/* Code for list */

#todo-list{
	font-size: 20px;
}

ul{
	
	font-size: 20px;
}
ul li:hover{
	font-size: 30px;
}

