<html>
  <head>
  <script src='{{url_for('static', filename='logic.js')}}' type='text/javascript'></script>
    <link rel='stylesheet' href='{{ url_for('static', filename='style.css') }}'>
  </head>
  <body>
    <h2 class='title'>MyFace</h2>
    <div id='messageContainer'>
      <ul id='messageList'>
      </ul>
      <div id = 'inputContainer'>
        <textarea id='post' cols="25" rows="7"></textarea>
        <button onclick='newPost()'>Post</button>
      </div>
    </div>
  </body>
</html>

